<section class="jumbotron text-center" style="background-image: url(https://ksr-ugc.imgix.net/assets/015/903/333/c22aa73bd50c83c337c3a24605d91809_original.jpg?ixlib=rb-1.1.0&w=680&fit=max&v=1489766837&auto=format&gif-q=50&q=92&s=b9119f2d3ee323cf5eab77081db5299c); background-size: 100%;">
    <div class="container">
        <h1 class="jumbotron-heading" style="color: white;">Search for Artist</h1>
        <p class="lead" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Add new vinyls to your collection</p>
    </div>
</section>

<%= form_tag artists_path, method: "get", html: { class: "form" } do %>
    <div class="form-group col-xs-4">
        <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>