<%= form_for (comment), :html => {:"data-reviewid" => review.id, :"id" => "newComment"} do |f| %>
    <div class="hidden">
        <%= f.hidden_field :review_id, :value => review.id %>
    </div>
    <div class="text-area">
        New Comment: <%= f.text_area :content, size:"50x2" %><br><br>
    </div>
    <div class="actions">
        <%= f.submit "Submit Comment", :class => "btn-sm btn-outline-secondary" %>
    </div>
<% end %>