 @import "bootstrap-sprockets";
 @import "bootstrap";

 .jumbotron-heading {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 }

 #commentUser {
    text-decoration: underline;
 }

 .underline {
    text-decoration: underline;
 }

