 @import "bootstrap-sprockets";
 @import "bootstrap";

 .jumbotron-heading {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 }

 #commentUser {
    text-decoration: underline;
 }

 .underline {
    text-decoration: underline;
 }

 .text-right {
    text-align: right;
 }

 html body {
    background-color: rgba(45, 46, 47, 0.856);
 }

 .text-white {
    color: white;
 }
