<h1>Please edit your review for:</h1>

<h2><%= @review.album.name %></h2>
<img src="<%= image_path(@review.album.images) %>" height=300 ><br><br>

<%= render partial: "form", locals: {album: @review.album, review: @review} %>