<div class="container">
  <div class="row">
    <div class="albumJS col-lg-12">
      <!--JS album info-->
    </div>
  </div><!--end row-->
</div><!--end container-->


<div class="userReviews">

</div>

<script type="text/javascript" charset="utf-8">
  $(
    $.ajax({
      url: this.location.pathname + ".json",
      //this.location.pathname = '/albums/:album_id/reviews'
      dataType: 'json',
      success: function(resp) {
        let reviewCount = resp.length
        let album = resp[0].album
        albumJS(album, reviewCount)
        // ask about the difference between using a function expression and a function declaration for albumHTML()
        resp.forEach(function(e){
          reviewJS(e)
        })
       showFullReview()
      },
      error: function(req, status, error){
        console.log('something went wrong', status, err)
      }
    })
  )

    // Why does the on click event for the button not work if I wrap the above code in $(document).ready(function () {})

</script>