<div>
    <h1>Please add a review for:</h1>

    <h3><%= @album.name %></h3>
    <img src="<%= image_path(@album.images) %>" height=300 ><br><br>

    <div id="postedReview">
        
    </div>
    
    <%= render partial: "form", locals: {album: @album, review: @review} %>
</div>



