<h1>Please add a review for:</h1>

<h2><%= @album.name %></h2>
<img src="<%= image_path(@album.images) %>" height=300 ><br><br>

<%= render partial: "form", locals: {album: @album, review: @review} %>


