<% @review.rating.to_i.times do %>
    <span class="glyphicon glyphicon-star"></span>
<% end %>
<% @review.blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
<% end %><br><br>
<%= @review.content%>
